@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carrossel.css");
@import url("style/topico.css");
@import url("style/contatos.css");
@import url("style/rodape.css");


:root{
    --cor-de--fundo: #EBECEE;
    --branco--primario:#FFFFFF;
    --cor--titulo:#EB9800;
    --cor--azul--degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte--principal: "Poppins";
    --azul:#002F52;
    --preto:#000000;
    --fonte--secundaria: "Josefin Sans";
    --cinza:#858585;
    --rodape:#474646;
}

body{
    background-color: var(--cor-de--fundo);
    font-family: var(--fonte--principal);
    font-size: 16px;
    font-weight: 400;
}

